In [1]:
import numpy as np
import pandas as pd

# Data Extracting

In [2]:
transactions=pd.read_excel(r'C:\Users\ADMIN\KPMG Internship\KPMG.xlsx',sheet_name='Transactions')
customerlist=pd.read_excel(r'C:\Users\ADMIN\KPMG Internship\KPMG.xlsx',sheet_name='NewCustomerList')
custdemo=pd.read_excel(r'C:\Users\ADMIN\KPMG Internship\KPMG.xlsx',sheet_name='CustomerDemographic')
custaddt=pd.read_excel(r'C:\Users\ADMIN\KPMG Internship\KPMG.xlsx',sheet_name='CustomerAddress')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3728\2343338009.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  customerlist=pd.read_excel(r'C:\Users\ADMIN\KPMG Internship\KPMG.xlsx',sheet_name='NewCustomerList')

# Exploring Transaction's data

In [3]:
transactions

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [4]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [5]:
transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

# ##In this data 7 columns are having null values

In [6]:
transactions.duplicated().sum()

0

In [8]:
transactions.nunique()

transaction_id             20000
product_id                   101
customer_id                 3494
transaction_date             364
online_order                   2
order_status                   2
brand                          6
product_line                   4
product_class                  3
product_size                   3
list_price                   296
standard_cost                103
product_first_sold_date      100
dtype: int64

In [9]:
transactions.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [10]:
transactions.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
dtype: object

In [11]:
transactions['product_first_sold_date'] = pd.to_datetime(transactions['product_first_sold_date'], unit='s')
transactions['product_first_sold_date'].tail()

19995   1970-01-01 10:30:23
19996   1970-01-01 09:52:40
19997   1970-01-01 11:13:30
19998   1970-01-01 10:36:56
19999   1970-01-01 10:05:34
Name: product_first_sold_date, dtype: datetime64[ns]

#Product Sales data contains only the data on the same date repeatedly. We have to clarify this data with the author of the data.

In [12]:
transactions.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date    datetime64[ns]
dtype: object

In [13]:
transactions['order_status'].value_counts()

Approved     19821
Cancelled      179
Name: order_status, dtype: int64

In [14]:
transactions['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [15]:
transactions['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [16]:
transactions['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [22]:
transactions['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

 All the columns in the transactions data are uniform and good
 # Exploring the next dataset: New Customers List

In [17]:
customerlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [18]:
customerlist.nunique()

first_name                              940
last_name                               961
gender                                    3
past_3_years_bike_related_purchases     100
DOB                                     958
job_title                               184
job_industry_category                     9
wealth_segment                            3
deceased_indicator                        1
owns_car                                  2
tenure                                   23
address                                1000
postcode                                522
state                                     3
country                                   1
property_valuation                       12
Unnamed: 16                              71
Unnamed: 17                             132
Unnamed: 18                             187
Unnamed: 19                             322
Unnamed: 20                             324
Rank                                    324
Value                                   324
dtype: int64

In [19]:
dcols = ['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20']
customerlist=customerlist.drop(dcols,axis=1)
customerlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Rank                                 1000 non-null   int64
 17  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(11)
memory usage: 140.8+ KB

In [20]:
customerlist.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

In [21]:
customerlist.duplicated().sum()

0

In [22]:
customerlist['gender'].value_counts()

Female    513
Male      470
U          17
Name: gender, dtype: int64

In [23]:
customerlist['gender'].str.replace('U','Unspecified')

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
995      Male
996      Male
997    Female
998      Male
999      Male
Name: gender, Length: 1000, dtype: object

In [24]:
customerlist['DOB'].describe()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3728\191123962.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  customerlist['DOB'].describe()

count                     983
unique                    958
top       1998-02-05 00:00:00
freq                        2
first     1938-06-08 00:00:00
last      2002-02-27 00:00:00
Name: DOB, dtype: object

In [25]:
customerlist['wealth_segment'].value_counts()

Mass Customer        508
High Net Worth       251
Affluent Customer    241
Name: wealth_segment, dtype: int64

In [26]:
customerlist['owns_car'].value_counts()

No     507
Yes    493
Name: owns_car, dtype: int64

# Exploring Customer Demographic

In [27]:
custdemo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4001 non-null   object
 1   first_name                           4001 non-null   object
 2   last_name                            3876 non-null   object
 3   gender                               4001 non-null   object
 4   past_3_years_bike_related_purchases  4001 non-null   object
 5   DOB                                  3914 non-null   object
 6   job_title                            3495 non-null   object
 7   job_industry_category                3345 non-null   object
 8   wealth_segment                       4001 non-null   object
 9   deceased_indicator                   4001 non-null   object
 10  default                              3699 non-null   object
 11  owns_car                             4001 non-null   object
 12  tenure                               3914 non-null   object
dtypes: object(13)
memory usage: 406.5+ KB

In [28]:
custdemo.nunique()

customer_id                            4001
first_name                             3140
last_name                              3726
gender                                    7
past_3_years_bike_related_purchases     101
DOB                                    3449
job_title                               196
job_industry_category                    10
wealth_segment                            4
deceased_indicator                        3
default                                  91
owns_car                                  3
tenure                                   23
dtype: int64

In [29]:
custdemo['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
gender       1
Name: gender, dtype: int64

In [30]:
custdemo['gender'] = custdemo['gender'].replace('F','Female').replace('M','Male').replace('Femal','Female').replace('U','Unspecified')
custdemo['gender'].value_counts()

Female         2039
Male           1873
Unspecified      88
gender            1
Name: gender, dtype: int64

In [31]:
custdemo=custdemo.drop('default',axis=1)

In [32]:
custdemo['job_title'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Legal Assistant                         41
                                        ..
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
job_title                                1
Name: job_title, Length: 196, dtype: int64

In [33]:
custdemo['job_industry_category'].value_counts()

Manufacturing            799
Financial Services       774
Health                   602
Retail                   358
Property                 267
IT                       223
Entertainment            136
Argiculture              113
Telecommunications        72
job_industry_category      1
Name: job_industry_category, dtype: int64

In [34]:
custdemo['wealth_segment'].value_counts()

Mass Customer        2000
High Net Worth       1021
Affluent Customer     979
wealth_segment          1
Name: wealth_segment, dtype: int64

# Exploring customer Address dataset

In [35]:
custaddt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [36]:
custaddt.nunique()

customer_id           3999
address               3996
postcode               873
state                    5
country                  1
property_valuation      12
dtype: int64

In [37]:
custaddt.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [38]:
custaddt['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [39]:
custaddt['country'].value_counts()

Australia    3999
Name: country, dtype: int64

# All the data now is clean and consistent

# Merging all customers data in one data sets to make easy to read the data

In [40]:
custdemo = pd.merge(custdemo, custaddt, how='left', on='customer_id')

In [41]:
custdemo

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
0,34,Jephthah,Bachmann,Unspecified,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,No,20,833 Luster Way,4005.0,QLD,Australia,8.0
1,720,Darrel,Canet,Male,67,1931-10-23 00:00:00,Recruiting Manager,Retail,Affluent Customer,N,No,6,78 Glacier Hill Drive,2026.0,NSW,Australia,10.0
2,1092,Katlin,Creddon,Female,56,1935-08-22 00:00:00,VP Quality Control,Retail,Mass Customer,N,No,5,5515 Artisan Center,3337.0,VIC,Australia,3.0
3,3410,Merrili,Brittin,Female,93,1940-09-22 00:00:00,NaN,Property,Mass Customer,N,No,16,1351 Lunder Road,2049.0,NSW,Australia,10.0
4,2413,Abbey,Murrow,Male,27,1943-08-11 00:00:00,Environmental Specialist,Manufacturing,High Net Worth,N,Yes,17,423 Debra Terrace,3082.0,VIC,Australia,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,3779,Ulick,Daspar,Unspecified,68,NaN,NaN,IT,Affluent Customer,N,No,NaN,3052 Green Drive,3142.0,VIC,Australia,11.0
3997,3883,Nissa,Conrad,Unspecified,35,NaN,Legal Assistant,IT,Mass Customer,N,No,NaN,344 Dayton Drive,2148.0,NSW,Australia,9.0
3998,3931,Kylie,Epine,Unspecified,19,NaN,NaN,IT,High Net Worth,N,Yes,NaN,22 Mifflin Junction,2096.0,NSW,Australia,9.0
3999,3935,Teodor,Alfonsini,Unspecified,72,NaN,NaN,IT,High Net Worth,N,Yes,NaN,3 Kedzie Center,3106.0,VIC,Australia,10.0
4000,3998,Sarene,Woolley,Unspecified,60,NaN,Assistant Manager,IT,High Net Worth,N,No,NaN,736 Roxbury Junction,2540.0,NSW,Australia,6.0

In [42]:
all_customer_data = pd.concat([custdemo, customerlist], ignore_index=True, sort=False)

In [43]:
all_customer_data

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,34,Jephthah,Bachmann,Unspecified,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,No,20,833 Luster Way,4005.0,QLD,Australia,8.0,NaN,NaN
1,720,Darrel,Canet,Male,67,1931-10-23 00:00:00,Recruiting Manager,Retail,Affluent Customer,N,No,6,78 Glacier Hill Drive,2026.0,NSW,Australia,10.0,NaN,NaN
2,1092,Katlin,Creddon,Female,56,1935-08-22 00:00:00,VP Quality Control,Retail,Mass Customer,N,No,5,5515 Artisan Center,3337.0,VIC,Australia,3.0,NaN,NaN
3,3410,Merrili,Brittin,Female,93,1940-09-22 00:00:00,NaN,Property,Mass Customer,N,No,16,1351 Lunder Road,2049.0,NSW,Australia,10.0,NaN,NaN
4,2413,Abbey,Murrow,Male,27,1943-08-11 00:00:00,Environmental Specialist,Manufacturing,High Net Worth,N,Yes,17,423 Debra Terrace,3082.0,VIC,Australia,8.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,NaN,Ferdinand,Romanetti,Male,60,1959-10-07 00:00:00,Paralegal,Financial Services,Affluent Customer,N,No,9,2 Sloan Way,2200.0,NSW,Australia,7.0,996.0,0.374
4997,NaN,Burk,Wortley,Male,22,2001-10-17 00:00:00,Senior Sales Associate,Health,Mass Customer,N,No,6,04 Union Crossing,2196.0,NSW,Australia,10.0,997.0,0.357
4998,NaN,Melloney,Temby,Female,17,1954-10-05 00:00:00,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,15,33475 Fair Oaks Junction,4702.0,QLD,Australia,2.0,997.0,0.357
4999,NaN,Dickie,Cubbini,Male,30,1952-12-17 00:00:00,Financial Advisor,Financial Services,Mass Customer,N,Yes,19,57666 Victoria Way,4215.0,QLD,Australia,2.0,997.0,0.357
5000,NaN,Sylas,Duffill,Male,56,1955-10-02 00:00:00,Staff Accountant IV,Property,Mass Customer,N,Yes,14,21875 Grover Drive,2010.0,NSW,Australia,9.0,1000.0,0.340

# Extracting data to csv file

In [44]:
all_customer_data.to_csv("CustomerData.csv",index=False)

In [45]:
transactions.to_csv("TransactionData.csv",index=False)